<app-timer [stopTime]="isTimeDone"></app-timer>
<app-process-timer [tiempoInicial]="totalTime" (tiempoAgotado)="temporizadorAgotado($event)"></app-process-timer>
<div class="container-fluid">
  <div class="row" id="headers">
    <div class="col-12">
      <h1>Número de lotes pendientes: {{ LotesPendientes }}</h1>
    </div>
  </div>
  <div class="row" id="values">
    <div class="col-3">
      <span class="h4">Lote en Ejecución {{ this.batchInProgressID }}</span>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th class="px-4">T. Estimado</th>
        </tr>
        </thead>
        <tbody class="pt-3">
        <ng-container *ngFor="let item of batchInProgress; let i = index">
          <tr *ngIf="!terminateProcess.includes(item)">
            <td *ngIf="processInProgress.ID != item.ID">{{ item.ID }}</td>
            <td *ngIf="processInProgress.ID != item.ID">{{ item.EstimatedTime }}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>

    </div>

    <div class="col-5">
      <div class="w-50 mx-auto">
        <span class="h4">Proceso en Ejecución</span>
        <p class="h4">
          Número de programa: {{ this.processInProgress.ID }}
        </p>
        <p class="h5">
          Nombre: {{ this.processInProgress.Name }}
        </p>
        <p class="h5">
          Operación: {{ this.processInProgress.Ope }}
        </p>
        <p class="h5">
          Tiempo máximo estimado: {{ this.processInProgress.EstimatedTime }}
        </p>
        <p class="h5">
          Tiempo transcurrido: {{ this.timerInProgress }}
        </p>
        <p class="h5">
          Tiempo restante por ejecutar: {{ this.timerRest }}
        </p>
      </div>
    </div>
    <div class="col-4">
      <span class="h4 justify-content-center">Procesos Terminados</span>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th class="px-4">Lote</th>
          <th class="px-4">Operación</th>
          <th class="px-4">Resultado</th>
        </tr>
        </thead>
        <tbody class="pt-3">
        <tr *ngFor="let item of terminateProcess; let i = index">
          <td>{{ item.ID }}</td>
          <td>{{ item.Lote }}</td>
          <td>{{ item.Ope }}</td>
          <td>{{ item.OpeResult }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
